<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Rock, Paper, Scissors</title>
</head>
<body>
    <h1>Welcome to Rock, Paper, Scissors</h1>

    <p>Rock, Paper, Scissors is a 2 player game where each player chooses their 'weapon'; rock, paper or scissors.</p>

    <h2>The Rules</h2>
    <p>Each player enters their name and choice; rock, paper or scissors.  Press the 'play' button and the winner will be revealed</p>
    <p>In the game rock beats scissors, scissors beat paper and paper beat rock. Simple</p>

    <h2>Why not have a go.</h2>
    <form action="/game">
        <button type="submit">Play</button>
    </form>

</body>
</html>